# at most 1 box contains only white tennis balls
# e.g. C1W -> ¬C2W ^ ¬C3W
# In CNF:
# 1. Implication elimination: ¬C1W V (¬C2W ^ ¬C3W)
# 2. Distribute or's over and's: (¬C1W V ¬C2W) ^ (¬C1W V ¬C3W)
# 3. Break final conjunction: ¬C1W V ¬C2W, ¬C1W V ¬C3W
(or (not C1W) (not C2W))
(or (not C1W) (not C3W))
(or (not C2W) (not C1W))
(or (not C2W) (not C3W))
(or (not C3W) (not C1W))
(or (not C3W) (not C2W))

# at most 1 box contains only yellow tennis balls
(or (not C1Y) (not C2Y))
(or (not C1Y) (not C3Y))
(or (not C2Y) (not C1Y))
(or (not C2Y) (not C3Y))
(or (not C3Y) (not C1Y))
(or (not C3Y) (not C2Y))

# at most 1 box contains both yellow and white tennis balls
(or (not C1B) (not C2B))
(or (not C1B) (not C3B))
(or (not C2B) (not C1B))
(or (not C2B) (not C3B))
(or (not C3B) (not C1B))
(or (not C3B) (not C2B))

# at least 1 box contains yellow balls, white balls, and both balls
(or C1Y C2Y C3Y)
(or C1W C2W C3W)
(or C1B C2B C3B)

# rules derived from observations and the fact that boxes are incorrectly labeled
# e.g. L1Y ^ O1W -> C1W v C1B
# In CNF:
# 1. Implication elimination: ¬(L1Y ^ O1W) v (C1W v C1B)
# 2. Push negations inward: (¬L1Y v ¬O1W) v (C1W v C1B)
(or (not L1Y) (not O1W) C1W C1B)
(or (not L2Y) (not O2W) C2W C2B)
(or (not L3Y) (not O3W) C3W C3B)
(or (not L1W) (not O1Y) C1Y C1B)
(or (not L2W) (not O2Y) C2Y C2B)
(or (not L3W) (not O3Y) C3Y C3B)

# if its labelled both, then it HAS to contain what we observe
# e.g. L1B ^ O1Y -> C1Y
# In CNF:
# 1. Implication elimination: ¬(L1B ^ O1Y) v C1Y
# 2. Push negations inward: ¬L1B v ¬O1Y v C1Y
(or (not L1B) (not O1Y) C1Y)
(or (not L2B) (not O2Y) C2Y)
(or (not L3B) (not O3Y) C3Y)
(or (not L1B) (not O1W) C1W)
(or (not L2B) (not O2W) C2W)
(or (not L3B) (not O3W) C3W)

# if we know what 2 boxes contain, then we know what the 3rd one contains
# e.g. C1B ^ C3Y -> C2W
# In CNF:
# 1. Implication elimination: ¬(C1B ^ C3Y) v C2W
# 2. Push negations inward: ¬C1B v ¬C3Y v C2W
(or (not C1Y) (not C2W) C3B)
(or (not C1W) (not C2Y) C3B)
(or (not C1Y) (not C2B) C3W)
(or (not C1B) (not C2Y) C3W)
(or (not C1W) (not C2B) C3Y)
(or (not C1B) (not C2W) C3Y)
(or (not C1Y) (not C3W) C2B)
(or (not C1W) (not C3Y) C2B)
(or (not C1Y) (not C3B) C2W)
(or (not C1B) (not C3Y) C2W)
(or (not C1W) (not C3B) C2Y)
(or (not C1B) (not C3W) C2Y)
(or (not C2Y) (not C3W) C1B)
(or (not C2W) (not C3Y) C1B)
(or (not C2Y) (not C3B) C1W)
(or (not C2B) (not C3Y) C1W)
(or (not C2W) (not C3B) C1Y)
(or (not C2B) (not C3W) C1Y)

# facts for the specific sammys sport shop problem
O1Y
L1W
O2W
L2Y
O3Y
L3B