(or (not wumpus11) (not wumpus12))
(or (not wumpus11) (not wumpus13))
(or (not wumpus11) (not wumpus14))
(or (not wumpus11) (not wumpus21))
(or (not wumpus11) (not wumpus22))
(or (not wumpus11) (not wumpus23))
(or (not wumpus11) (not wumpus24))
(or (not wumpus11) (not wumpus31))
(or (not wumpus11) (not wumpus32))
(or (not wumpus11) (not wumpus33))
(or (not wumpus11) (not wumpus34))
(or (not wumpus11) (not wumpus41))
(or (not wumpus11) (not wumpus42))
(or (not wumpus11) (not wumpus43))
(or (not wumpus11) (not wumpus44))
(or (not safe11) (not wumpus11))
(or (not safe11) (not pit11))
(or wumpus11 pit11 safe11)
(or (not wumpus11) stench21)
(or (not pit11) breezy21)
(or (not wumpus11) stench12)
(or (not pit11) breezy12)
(or (not stench11) wumpus21 wumpus12 )
(or (not breezy11) pit21 pit12 )
(or (not wumpus12) (not wumpus13))
(or (not wumpus12) (not wumpus14))
(or (not wumpus12) (not wumpus21))
(or (not wumpus12) (not wumpus22))
(or (not wumpus12) (not wumpus23))
(or (not wumpus12) (not wumpus24))
(or (not wumpus12) (not wumpus31))
(or (not wumpus12) (not wumpus32))
(or (not wumpus12) (not wumpus33))
(or (not wumpus12) (not wumpus34))
(or (not wumpus12) (not wumpus41))
(or (not wumpus12) (not wumpus42))
(or (not wumpus12) (not wumpus43))
(or (not wumpus12) (not wumpus44))
(or (not safe12) (not wumpus12))
(or (not safe12) (not pit12))
(or wumpus12 pit12 safe12)
(or (not wumpus12) stench22)
(or (not pit12) breezy22)
(or (not wumpus12) stench13)
(or (not wumpus12) stench11)
(or (not pit12) breezy13)
(or (not pit12) breezy11)
(or (not stench12) wumpus22 wumpus13 wumpus11 )
(or (not breezy12) pit22 pit13 pit11 )
(or (not wumpus13) (not wumpus14))
(or (not wumpus13) (not wumpus21))
(or (not wumpus13) (not wumpus22))
(or (not wumpus13) (not wumpus23))
(or (not wumpus13) (not wumpus24))
(or (not wumpus13) (not wumpus31))
(or (not wumpus13) (not wumpus32))
(or (not wumpus13) (not wumpus33))
(or (not wumpus13) (not wumpus34))
(or (not wumpus13) (not wumpus41))
(or (not wumpus13) (not wumpus42))
(or (not wumpus13) (not wumpus43))
(or (not wumpus13) (not wumpus44))
(or (not safe13) (not wumpus13))
(or (not safe13) (not pit13))
(or wumpus13 pit13 safe13)
(or (not wumpus13) stench23)
(or (not pit13) breezy23)
(or (not wumpus13) stench14)
(or (not wumpus13) stench12)
(or (not pit13) breezy14)
(or (not pit13) breezy12)
(or (not stench13) wumpus23 wumpus14 wumpus12 )
(or (not breezy13) pit23 pit14 pit12 )
(or (not wumpus14) (not wumpus21))
(or (not wumpus14) (not wumpus22))
(or (not wumpus14) (not wumpus23))
(or (not wumpus14) (not wumpus24))
(or (not wumpus14) (not wumpus31))
(or (not wumpus14) (not wumpus32))
(or (not wumpus14) (not wumpus33))
(or (not wumpus14) (not wumpus34))
(or (not wumpus14) (not wumpus41))
(or (not wumpus14) (not wumpus42))
(or (not wumpus14) (not wumpus43))
(or (not wumpus14) (not wumpus44))
(or (not safe14) (not wumpus14))
(or (not safe14) (not pit14))
(or wumpus14 pit14 safe14)
(or (not wumpus14) stench24)
(or (not pit14) breezy24)
(or (not wumpus14) stench15)
(or (not wumpus14) stench13)
(or (not pit14) breezy15)
(or (not pit14) breezy13)
(or (not stench14) wumpus24 wumpus15 wumpus13 )
(or (not breezy14) pit24 pit15 pit13 )
(or (not wumpus21) (not wumpus22))
(or (not wumpus21) (not wumpus23))
(or (not wumpus21) (not wumpus24))
(or (not wumpus21) (not wumpus31))
(or (not wumpus21) (not wumpus32))
(or (not wumpus21) (not wumpus33))
(or (not wumpus21) (not wumpus34))
(or (not wumpus21) (not wumpus41))
(or (not wumpus21) (not wumpus42))
(or (not wumpus21) (not wumpus43))
(or (not wumpus21) (not wumpus44))
(or (not safe21) (not wumpus21))
(or (not safe21) (not pit21))
(or wumpus21 pit21 safe21)
(or (not wumpus21) stench31)
(or (not wumpus21) stench11)
(or (not pit21) breezy31)
(or (not pit21) breezy11)
(or (not wumpus21) stench22)
(or (not pit21) breezy22)
(or (not stench21) wumpus31 wumpus11 wumpus22 )
(or (not breezy21) pit31 pit11 pit22 )
(or (not wumpus22) (not wumpus23))
(or (not wumpus22) (not wumpus24))
(or (not wumpus22) (not wumpus31))
(or (not wumpus22) (not wumpus32))
(or (not wumpus22) (not wumpus33))
(or (not wumpus22) (not wumpus34))
(or (not wumpus22) (not wumpus41))
(or (not wumpus22) (not wumpus42))
(or (not wumpus22) (not wumpus43))
(or (not wumpus22) (not wumpus44))
(or (not safe22) (not wumpus22))
(or (not safe22) (not pit22))
(or wumpus22 pit22 safe22)
(or (not wumpus22) stench32)
(or (not wumpus22) stench12)
(or (not pit22) breezy32)
(or (not pit22) breezy12)
(or (not wumpus22) stench23)
(or (not wumpus22) stench21)
(or (not pit22) breezy23)
(or (not pit22) breezy21)
(or (not stench22) wumpus32 wumpus12 wumpus23 wumpus21 )
(or (not breezy22) pit32 pit12 pit23 pit21 )
(or (not wumpus23) (not wumpus24))
(or (not wumpus23) (not wumpus31))
(or (not wumpus23) (not wumpus32))
(or (not wumpus23) (not wumpus33))
(or (not wumpus23) (not wumpus34))
(or (not wumpus23) (not wumpus41))
(or (not wumpus23) (not wumpus42))
(or (not wumpus23) (not wumpus43))
(or (not wumpus23) (not wumpus44))
(or (not safe23) (not wumpus23))
(or (not safe23) (not pit23))
(or wumpus23 pit23 safe23)
(or (not wumpus23) stench33)
(or (not wumpus23) stench13)
(or (not pit23) breezy33)
(or (not pit23) breezy13)
(or (not wumpus23) stench24)
(or (not wumpus23) stench22)
(or (not pit23) breezy24)
(or (not pit23) breezy22)
(or (not stench23) wumpus33 wumpus13 wumpus24 wumpus22 )
(or (not breezy23) pit33 pit13 pit24 pit22 )
(or (not wumpus24) (not wumpus31))
(or (not wumpus24) (not wumpus32))
(or (not wumpus24) (not wumpus33))
(or (not wumpus24) (not wumpus34))
(or (not wumpus24) (not wumpus41))
(or (not wumpus24) (not wumpus42))
(or (not wumpus24) (not wumpus43))
(or (not wumpus24) (not wumpus44))
(or (not safe24) (not wumpus24))
(or (not safe24) (not pit24))
(or wumpus24 pit24 safe24)
(or (not wumpus24) stench34)
(or (not wumpus24) stench14)
(or (not pit24) breezy34)
(or (not pit24) breezy14)
(or (not wumpus24) stench25)
(or (not wumpus24) stench23)
(or (not pit24) breezy25)
(or (not pit24) breezy23)
(or (not stench24) wumpus34 wumpus14 wumpus25 wumpus23 )
(or (not breezy24) pit34 pit14 pit25 pit23 )
(or (not wumpus31) (not wumpus32))
(or (not wumpus31) (not wumpus33))
(or (not wumpus31) (not wumpus34))
(or (not wumpus31) (not wumpus41))
(or (not wumpus31) (not wumpus42))
(or (not wumpus31) (not wumpus43))
(or (not wumpus31) (not wumpus44))
(or (not safe31) (not wumpus31))
(or (not safe31) (not pit31))
(or wumpus31 pit31 safe31)
(or (not wumpus31) stench41)
(or (not wumpus31) stench21)
(or (not pit31) breezy41)
(or (not pit31) breezy21)
(or (not wumpus31) stench32)
(or (not pit31) breezy32)
(or (not stench31) wumpus41 wumpus21 wumpus32 )
(or (not breezy31) pit41 pit21 pit32 )
(or (not wumpus32) (not wumpus33))
(or (not wumpus32) (not wumpus34))
(or (not wumpus32) (not wumpus41))
(or (not wumpus32) (not wumpus42))
(or (not wumpus32) (not wumpus43))
(or (not wumpus32) (not wumpus44))
(or (not safe32) (not wumpus32))
(or (not safe32) (not pit32))
(or wumpus32 pit32 safe32)
(or (not wumpus32) stench42)
(or (not wumpus32) stench22)
(or (not pit32) breezy42)
(or (not pit32) breezy22)
(or (not wumpus32) stench33)
(or (not wumpus32) stench31)
(or (not pit32) breezy33)
(or (not pit32) breezy31)
(or (not stench32) wumpus42 wumpus22 wumpus33 wumpus31 )
(or (not breezy32) pit42 pit22 pit33 pit31 )
(or (not wumpus33) (not wumpus34))
(or (not wumpus33) (not wumpus41))
(or (not wumpus33) (not wumpus42))
(or (not wumpus33) (not wumpus43))
(or (not wumpus33) (not wumpus44))
(or (not safe33) (not wumpus33))
(or (not safe33) (not pit33))
(or wumpus33 pit33 safe33)
(or (not wumpus33) stench43)
(or (not wumpus33) stench23)
(or (not pit33) breezy43)
(or (not pit33) breezy23)
(or (not wumpus33) stench34)
(or (not wumpus33) stench32)
(or (not pit33) breezy34)
(or (not pit33) breezy32)
(or (not stench33) wumpus43 wumpus23 wumpus34 wumpus32 )
(or (not breezy33) pit43 pit23 pit34 pit32 )
(or (not wumpus34) (not wumpus41))
(or (not wumpus34) (not wumpus42))
(or (not wumpus34) (not wumpus43))
(or (not wumpus34) (not wumpus44))
(or (not safe34) (not wumpus34))
(or (not safe34) (not pit34))
(or wumpus34 pit34 safe34)
(or (not wumpus34) stench44)
(or (not wumpus34) stench24)
(or (not pit34) breezy44)
(or (not pit34) breezy24)
(or (not wumpus34) stench35)
(or (not wumpus34) stench33)
(or (not pit34) breezy35)
(or (not pit34) breezy33)
(or (not stench34) wumpus44 wumpus24 wumpus35 wumpus33 )
(or (not breezy34) pit44 pit24 pit35 pit33 )
(or (not wumpus41) (not wumpus42))
(or (not wumpus41) (not wumpus43))
(or (not wumpus41) (not wumpus44))
(or (not safe41) (not wumpus41))
(or (not safe41) (not pit41))
(or wumpus41 pit41 safe41)
(or (not wumpus41) stench31)
(or (not pit41) breezy31)
(or (not wumpus41) stench42)
(or (not pit41) breezy42)
(or (not stench41) wumpus31 wumpus42 )
(or (not breezy41) pit31 pit42 )
(or (not wumpus42) (not wumpus43))
(or (not wumpus42) (not wumpus44))
(or (not safe42) (not wumpus42))
(or (not safe42) (not pit42))
(or wumpus42 pit42 safe42)
(or (not wumpus42) stench32)
(or (not pit42) breezy32)
(or (not wumpus42) stench41)
(or (not pit42) breezy41)
(or (not stench42) wumpus32 wumpus41 )
(or (not breezy42) pit32 pit41 )
(or (not wumpus43) (not wumpus44))
(or (not safe43) (not wumpus43))
(or (not safe43) (not pit43))
(or wumpus43 pit43 safe43)
(or (not wumpus43) stench33)
(or (not pit43) breezy33)
(or (not wumpus43) stench42)
(or (not pit43) breezy42)
(or (not stench43) wumpus33 wumpus42 )
(or (not breezy43) pit33 pit42 )
(or (not safe44) (not wumpus44))
(or (not safe44) (not pit44))
(or wumpus44 pit44 safe44)
(or (not wumpus44) stench34)
(or (not pit44) breezy34)
(or (not wumpus44) stench43)
(or (not pit44) breezy43)
(or (not stench44) wumpus34 wumpus43 )
(or (not breezy44) pit34 pit43 )
# initial facts
(or (not pit14))
(or (not wumpus14))
(or (not pit24))
(or (not wumpus24))
(or (not pit34))
(or (not wumpus34))
(or (not pit44))
(or (not wumpus44))
(or (not pit13))
(or (not wumpus13))
(or (not pit12))
(or (not wumpus12))
(or (not pit22))
(or (not wumpus22))
(or (not pit32))
(or (not wumpus32))
(or (not pit42))
(or (not wumpus42))
(or (not stench14))
(or (not breezy14))
(or breezy24)
(or (not stench24))
(or stench34)
(or (not breezy34))
(or (not stench44))
(or (not breezy44))
(or breezy13)
(or (not stench13))
(or (not stench12))
(or (not breezy12))
(or breezy22)
(or (not stench22))
(or stench32)
(or (not breezy32))
(or breezy42)
(or (not stench42))
(or (not pit41))