(or (not wumpus11) (not wumpus12))
(or (not wumpus11) (not wumpus13))
(or (not wumpus11) (not wumpus14))
(or (not wumpus11) (not wumpus21))
(or (not wumpus11) (not wumpus22))
(or (not wumpus11) (not wumpus23))
(or (not wumpus11) (not wumpus24))
(or (not wumpus11) (not wumpus31))
(or (not wumpus11) (not wumpus32))
(or (not wumpus11) (not wumpus33))
(or (not wumpus11) (not wumpus34))
(or (not wumpus11) (not wumpus41))
(or (not wumpus11) (not wumpus42))
(or (not wumpus11) (not wumpus43))
(or (not wumpus11) (not wumpus44))
(or (not safe11) (not wumpus11))
(or (not safe11) (not pit11))
(or wumpus11 pit11 safe11)
(or (not wumpus11) stench21)
(or (not pit11) breezy21)
(or wumpus11 (not stench21))
(or pit11 (not breezy21))
(or (not wumpus11) stench12)
(or (not pit11) breezy12)
(or wumpus11 (not stench12))
(or pit11 (not breezy12))
(or (not visited11) (not wumpus11))
(or (not visited11) (not pit11))
(or (not wumpus12) (not wumpus13))
(or (not wumpus12) (not wumpus14))
(or (not wumpus12) (not wumpus21))
(or (not wumpus12) (not wumpus22))
(or (not wumpus12) (not wumpus23))
(or (not wumpus12) (not wumpus24))
(or (not wumpus12) (not wumpus31))
(or (not wumpus12) (not wumpus32))
(or (not wumpus12) (not wumpus33))
(or (not wumpus12) (not wumpus34))
(or (not wumpus12) (not wumpus41))
(or (not wumpus12) (not wumpus42))
(or (not wumpus12) (not wumpus43))
(or (not wumpus12) (not wumpus44))
(or (not safe12) (not wumpus12))
(or (not safe12) (not pit12))
(or wumpus12 pit12 safe12)
(or (not wumpus12) stench22)
(or (not pit12) breezy22)
(or wumpus12 (not stench22))
(or pit12 (not breezy22))
(or (not wumpus12) stench13)
(or (not wumpus12) stench11)
(or (not pit12) breezy13)
(or (not pit12) breezy11)
(or wumpus12 (not stench13))
(or wumpus12 (not stench11))
(or pit12 (not breezy13))
(or pit12 (not breezy11))
(or (not visited12) (not wumpus12))
(or (not visited12) (not pit12))
(or (not wumpus13) (not wumpus14))
(or (not wumpus13) (not wumpus21))
(or (not wumpus13) (not wumpus22))
(or (not wumpus13) (not wumpus23))
(or (not wumpus13) (not wumpus24))
(or (not wumpus13) (not wumpus31))
(or (not wumpus13) (not wumpus32))
(or (not wumpus13) (not wumpus33))
(or (not wumpus13) (not wumpus34))
(or (not wumpus13) (not wumpus41))
(or (not wumpus13) (not wumpus42))
(or (not wumpus13) (not wumpus43))
(or (not wumpus13) (not wumpus44))
(or (not safe13) (not wumpus13))
(or (not safe13) (not pit13))
(or wumpus13 pit13 safe13)
(or (not wumpus13) stench23)
(or (not pit13) breezy23)
(or wumpus13 (not stench23))
(or pit13 (not breezy23))
(or (not wumpus13) stench14)
(or (not wumpus13) stench12)
(or (not pit13) breezy14)
(or (not pit13) breezy12)
(or wumpus13 (not stench14))
(or wumpus13 (not stench12))
(or pit13 (not breezy14))
(or pit13 (not breezy12))
(or (not visited13) (not wumpus13))
(or (not visited13) (not pit13))
(or (not wumpus14) (not wumpus21))
(or (not wumpus14) (not wumpus22))
(or (not wumpus14) (not wumpus23))
(or (not wumpus14) (not wumpus24))
(or (not wumpus14) (not wumpus31))
(or (not wumpus14) (not wumpus32))
(or (not wumpus14) (not wumpus33))
(or (not wumpus14) (not wumpus34))
(or (not wumpus14) (not wumpus41))
(or (not wumpus14) (not wumpus42))
(or (not wumpus14) (not wumpus43))
(or (not wumpus14) (not wumpus44))
(or (not safe14) (not wumpus14))
(or (not safe14) (not pit14))
(or wumpus14 pit14 safe14)
(or (not wumpus14) stench24)
(or (not pit14) breezy24)
(or wumpus14 (not stench24))
(or pit14 (not breezy24))
(or (not wumpus14) stench15)
(or (not wumpus14) stench13)
(or (not pit14) breezy15)
(or (not pit14) breezy13)
(or wumpus14 (not stench15))
(or wumpus14 (not stench13))
(or pit14 (not breezy15))
(or pit14 (not breezy13))
(or (not visited14) (not wumpus14))
(or (not visited14) (not pit14))
(or (not wumpus21) (not wumpus22))
(or (not wumpus21) (not wumpus23))
(or (not wumpus21) (not wumpus24))
(or (not wumpus21) (not wumpus31))
(or (not wumpus21) (not wumpus32))
(or (not wumpus21) (not wumpus33))
(or (not wumpus21) (not wumpus34))
(or (not wumpus21) (not wumpus41))
(or (not wumpus21) (not wumpus42))
(or (not wumpus21) (not wumpus43))
(or (not wumpus21) (not wumpus44))
(or (not safe21) (not wumpus21))
(or (not safe21) (not pit21))
(or wumpus21 pit21 safe21)
(or (not wumpus21) stench31)
(or (not wumpus21) stench11)
(or (not pit21) breezy31)
(or (not pit21) breezy11)
(or wumpus21 (not stench31))
(or wumpus21 (not stench11))
(or pit21 (not breezy31))
(or pit21 (not breezy11))
(or (not wumpus21) stench22)
(or (not pit21) breezy22)
(or wumpus21 (not stench22))
(or pit21 (not breezy22))
(or (not visited21) (not wumpus21))
(or (not visited21) (not pit21))
(or (not wumpus22) (not wumpus23))
(or (not wumpus22) (not wumpus24))
(or (not wumpus22) (not wumpus31))
(or (not wumpus22) (not wumpus32))
(or (not wumpus22) (not wumpus33))
(or (not wumpus22) (not wumpus34))
(or (not wumpus22) (not wumpus41))
(or (not wumpus22) (not wumpus42))
(or (not wumpus22) (not wumpus43))
(or (not wumpus22) (not wumpus44))
(or (not safe22) (not wumpus22))
(or (not safe22) (not pit22))
(or wumpus22 pit22 safe22)
(or (not wumpus22) stench32)
(or (not wumpus22) stench12)
(or (not pit22) breezy32)
(or (not pit22) breezy12)
(or wumpus22 (not stench32))
(or wumpus22 (not stench12))
(or pit22 (not breezy32))
(or pit22 (not breezy12))
(or (not wumpus22) stench23)
(or (not wumpus22) stench21)
(or (not pit22) breezy23)
(or (not pit22) breezy21)
(or wumpus22 (not stench23))
(or wumpus22 (not stench21))
(or pit22 (not breezy23))
(or pit22 (not breezy21))
(or (not visited22) (not wumpus22))
(or (not visited22) (not pit22))
(or (not wumpus23) (not wumpus24))
(or (not wumpus23) (not wumpus31))
(or (not wumpus23) (not wumpus32))
(or (not wumpus23) (not wumpus33))
(or (not wumpus23) (not wumpus34))
(or (not wumpus23) (not wumpus41))
(or (not wumpus23) (not wumpus42))
(or (not wumpus23) (not wumpus43))
(or (not wumpus23) (not wumpus44))
(or (not safe23) (not wumpus23))
(or (not safe23) (not pit23))
(or wumpus23 pit23 safe23)
(or (not wumpus23) stench33)
(or (not wumpus23) stench13)
(or (not pit23) breezy33)
(or (not pit23) breezy13)
(or wumpus23 (not stench33))
(or wumpus23 (not stench13))
(or pit23 (not breezy33))
(or pit23 (not breezy13))
(or (not wumpus23) stench24)
(or (not wumpus23) stench22)
(or (not pit23) breezy24)
(or (not pit23) breezy22)
(or wumpus23 (not stench24))
(or wumpus23 (not stench22))
(or pit23 (not breezy24))
(or pit23 (not breezy22))
(or (not visited23) (not wumpus23))
(or (not visited23) (not pit23))
(or (not wumpus24) (not wumpus31))
(or (not wumpus24) (not wumpus32))
(or (not wumpus24) (not wumpus33))
(or (not wumpus24) (not wumpus34))
(or (not wumpus24) (not wumpus41))
(or (not wumpus24) (not wumpus42))
(or (not wumpus24) (not wumpus43))
(or (not wumpus24) (not wumpus44))
(or (not safe24) (not wumpus24))
(or (not safe24) (not pit24))
(or wumpus24 pit24 safe24)
(or (not wumpus24) stench34)
(or (not wumpus24) stench14)
(or (not pit24) breezy34)
(or (not pit24) breezy14)
(or wumpus24 (not stench34))
(or wumpus24 (not stench14))
(or pit24 (not breezy34))
(or pit24 (not breezy14))
(or (not wumpus24) stench25)
(or (not wumpus24) stench23)
(or (not pit24) breezy25)
(or (not pit24) breezy23)
(or wumpus24 (not stench25))
(or wumpus24 (not stench23))
(or pit24 (not breezy25))
(or pit24 (not breezy23))
(or (not visited24) (not wumpus24))
(or (not visited24) (not pit24))
(or (not wumpus31) (not wumpus32))
(or (not wumpus31) (not wumpus33))
(or (not wumpus31) (not wumpus34))
(or (not wumpus31) (not wumpus41))
(or (not wumpus31) (not wumpus42))
(or (not wumpus31) (not wumpus43))
(or (not wumpus31) (not wumpus44))
(or (not safe31) (not wumpus31))
(or (not safe31) (not pit31))
(or wumpus31 pit31 safe31)
(or (not wumpus31) stench41)
(or (not wumpus31) stench21)
(or (not pit31) breezy41)
(or (not pit31) breezy21)
(or wumpus31 (not stench41))
(or wumpus31 (not stench21))
(or pit31 (not breezy41))
(or pit31 (not breezy21))
(or (not wumpus31) stench32)
(or (not pit31) breezy32)
(or wumpus31 (not stench32))
(or pit31 (not breezy32))
(or (not visited31) (not wumpus31))
(or (not visited31) (not pit31))
(or (not wumpus32) (not wumpus33))
(or (not wumpus32) (not wumpus34))
(or (not wumpus32) (not wumpus41))
(or (not wumpus32) (not wumpus42))
(or (not wumpus32) (not wumpus43))
(or (not wumpus32) (not wumpus44))
(or (not safe32) (not wumpus32))
(or (not safe32) (not pit32))
(or wumpus32 pit32 safe32)
(or (not wumpus32) stench42)
(or (not wumpus32) stench22)
(or (not pit32) breezy42)
(or (not pit32) breezy22)
(or wumpus32 (not stench42))
(or wumpus32 (not stench22))
(or pit32 (not breezy42))
(or pit32 (not breezy22))
(or (not wumpus32) stench33)
(or (not wumpus32) stench31)
(or (not pit32) breezy33)
(or (not pit32) breezy31)
(or wumpus32 (not stench33))
(or wumpus32 (not stench31))
(or pit32 (not breezy33))
(or pit32 (not breezy31))
(or (not visited32) (not wumpus32))
(or (not visited32) (not pit32))
(or (not wumpus33) (not wumpus34))
(or (not wumpus33) (not wumpus41))
(or (not wumpus33) (not wumpus42))
(or (not wumpus33) (not wumpus43))
(or (not wumpus33) (not wumpus44))
(or (not safe33) (not wumpus33))
(or (not safe33) (not pit33))
(or wumpus33 pit33 safe33)
(or (not wumpus33) stench43)
(or (not wumpus33) stench23)
(or (not pit33) breezy43)
(or (not pit33) breezy23)
(or wumpus33 (not stench43))
(or wumpus33 (not stench23))
(or pit33 (not breezy43))
(or pit33 (not breezy23))
(or (not wumpus33) stench34)
(or (not wumpus33) stench32)
(or (not pit33) breezy34)
(or (not pit33) breezy32)
(or wumpus33 (not stench34))
(or wumpus33 (not stench32))
(or pit33 (not breezy34))
(or pit33 (not breezy32))
(or (not visited33) (not wumpus33))
(or (not visited33) (not pit33))
(or (not wumpus34) (not wumpus41))
(or (not wumpus34) (not wumpus42))
(or (not wumpus34) (not wumpus43))
(or (not wumpus34) (not wumpus44))
(or (not safe34) (not wumpus34))
(or (not safe34) (not pit34))
(or wumpus34 pit34 safe34)
(or (not wumpus34) stench44)
(or (not wumpus34) stench24)
(or (not pit34) breezy44)
(or (not pit34) breezy24)
(or wumpus34 (not stench44))
(or wumpus34 (not stench24))
(or pit34 (not breezy44))
(or pit34 (not breezy24))
(or (not wumpus34) stench35)
(or (not wumpus34) stench33)
(or (not pit34) breezy35)
(or (not pit34) breezy33)
(or wumpus34 (not stench35))
(or wumpus34 (not stench33))
(or pit34 (not breezy35))
(or pit34 (not breezy33))
(or (not visited34) (not wumpus34))
(or (not visited34) (not pit34))
(or (not wumpus41) (not wumpus42))
(or (not wumpus41) (not wumpus43))
(or (not wumpus41) (not wumpus44))
(or (not safe41) (not wumpus41))
(or (not safe41) (not pit41))
(or wumpus41 pit41 safe41)
(or (not wumpus41) stench31)
(or (not pit41) breezy31)
(or wumpus41 (not stench31))
(or pit41 (not breezy31))
(or (not wumpus41) stench42)
(or (not pit41) breezy42)
(or wumpus41 (not stench42))
(or pit41 (not breezy42))
(or (not visited41) (not wumpus41))
(or (not visited41) (not pit41))
(or (not wumpus42) (not wumpus43))
(or (not wumpus42) (not wumpus44))
(or (not safe42) (not wumpus42))
(or (not safe42) (not pit42))
(or wumpus42 pit42 safe42)
(or (not wumpus42) stench32)
(or (not pit42) breezy32)
(or wumpus42 (not stench32))
(or pit42 (not breezy32))
(or (not wumpus42) stench41)
(or (not pit42) breezy41)
(or wumpus42 (not stench41))
(or pit42 (not breezy41))
(or (not visited42) (not wumpus42))
(or (not visited42) (not pit42))
(or (not wumpus43) (not wumpus44))
(or (not safe43) (not wumpus43))
(or (not safe43) (not pit43))
(or wumpus43 pit43 safe43)
(or (not wumpus43) stench33)
(or (not pit43) breezy33)
(or wumpus43 (not stench33))
(or pit43 (not breezy33))
(or (not wumpus43) stench42)
(or (not pit43) breezy42)
(or wumpus43 (not stench42))
(or pit43 (not breezy42))
(or (not visited43) (not wumpus43))
(or (not visited43) (not pit43))
(or (not safe44) (not wumpus44))
(or (not safe44) (not pit44))
(or wumpus44 pit44 safe44)
(or (not wumpus44) stench34)
(or (not pit44) breezy34)
(or wumpus44 (not stench34))
(or pit44 (not breezy34))
(or (not wumpus44) stench43)
(or (not pit44) breezy43)
(or wumpus44 (not stench43))
(or pit44 (not breezy43))
(or (not visited44) (not wumpus44))
(or (not visited44) (not pit44))
(or wumpus11 wumpus12 wumpus13 wumpus14 wumpus21 wumpus22 wumpus23 wumpus24 wumpus31 wumpus32 wumpus33 wumpus34 wumpus41 wumpus42 wumpus43 wumpus44 )
(or visited14)
(or visited24)
(or visited34)
(or visited44)
(or visited13)
(or (not visited23))
(or (not visited33))
(or (not visited43))
(or visited12)
(or visited22)
(or visited32)
(or visited42)
(or (not visited11))
(or (not visited21))
(or (not visited31))
(or (not visited41))
(or (not stench14))
(or (not breezy14))
(or breezy24)
(or (not stench24))
(or stench34)
(or (not breezy34))
(or (not stench44))
(or (not breezy44))
(or breezy13)
(or (not stench13))
(or (not stench23))
(or (not breezy23))
(or (not stench33))
(or (not breezy33))
(or (not stench43))
(or (not breezy43))
(or (not stench12))
(or (not breezy12))
(or breezy22)
(or (not stench22))
(or stench32)
(or (not breezy32))
(or breezy42)
(or (not stench42))
(or (not stench11))
(or (not breezy11))
(or (not stench21))
(or (not breezy21))
(or (not stench31))
(or (not breezy31))
(or (not stench41))
(or (not breezy41))
